// spectre.css partials
@import "node_modules/spectre.css/src/variables"
@import "node_modules/spectre.css/src/mixins"
@import "node_modules/spectre.css/src/normalize"
@import "node_modules/spectre.css/src/utilities/position"

@import "node_modules/spectre.css/src/base"
@import "node_modules/spectre.css/src/typography"
@import "node_modules/spectre.css/src/layout"
@import "node_modules/spectre.css/src/buttons"
@import "node_modules/spectre.css/src/forms"
@import "node_modules/spectre.css/src/utilities"
@import "node_modules/spectre.css/src/icons"
@import "node_modules/spectre.css/src/off-canvas"
@import "node_modules/spectre.css/src/navs"
@import "node_modules/spectre.css/src/menus"
@import "node_modules/spectre.css/src/dropdowns"
@import "node_modules/spectre.css/src/sliders"

.section-title
  padding-top: 4rem

.slider
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
